{% extends "base.html" %}
{% block title %}Contact - Shubomi Priestley's Portfolio{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}

{% block content %}
<header class="hero">
    <p class="eyebrow">Get in Touch</p>
    <h1>Contact Me</h1>
</header>
<section class="section-panel">
    <p class="hero-text">
        I'm currently open to freelance projects, collaborations, and professional opportunities in software development. If you're interested in working together or have a project in mind, please don't hesitate to reach out.
    </p>

    <ul>
        <li><strong>Email:</strong> <a href="mailto:shubomi.priestley@gmail.com">shubomi.priestley@gmail.com</a></li>
        <li><strong>GitHub:</strong> <a href="https://github.com/TYPZ-Y2K" class="btn btn-secondary space">View GitHub</a></li>
        <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/shubomi-priestley/" class="btn btn-secondary space">LinkedIn</a></li>
    </ul>
</section>
<section class="section-panel contact-form">
    <form method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" name="message" required></textarea>
    </div>

    <button type="submit">Send Message</button>
</form>
</section>
{% endblock %}